<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

*   Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

*   Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

In [3]:
%load_ext sql

%sql ibm_db_sa://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(ibm_db_dbi.InterfaceError) ibm_db_dbi::InterfaceError: connect expects a not None dsn value
(Background on this error at: http://sqlalche.me/e/13/rvf5)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
%sql sqlite:///RealWorldData.db

'Connected: @RealWorldData.db'

In [5]:
!pip install -q pandas==1.1.5

In [10]:
import pandas

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

NameError: name 'con' is not defined

In [28]:

%sql SELECT name,typeof(name),length(name) FROM PRAGMA_TABLE_INFO('CHICAGO_CRIME_DATA');

 * sqlite:///RealWorldData.db
Done.

[('ID', 'text', 2),
 ('CASE_NUMBER', 'text', 11),
 ('DATE', 'text', 4),
 ('BLOCK', 'text', 5),
 ('IUCR', 'text', 4),
 ('PRIMARY_TYPE', 'text', 12),
 ('DESCRIPTION', 'text', 11),
 ('LOCATION_DESCRIPTION', 'text', 20),
 ('ARREST', 'text', 6),
 ('DOMESTIC', 'text', 8),
 ('BEAT', 'text', 4),
 ('DISTRICT', 'text', 8),
 ('WARD', 'text', 4),
 ('COMMUNITY_AREA_NUMBER', 'text', 21),
 ('FBICODE', 'text', 7),
 ('X_COORDINATE', 'text', 12),
 ('Y_COORDINATE', 'text', 12),
 ('YEAR', 'text', 4),
 ('LATITUDE', 'text', 8),
 ('LONGITUDE', 'text', 9),
 ('LOCATION', 'text', 8)]

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [7]:
%sql SELECT count(ID) FROM 'CHICAGO_CRIME_DATA';

 * sqlite:///RealWorldData.db
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [8]:
%sql Select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME  from CENSUS_DATA where PER_CAPITA_INCOME <11000;

 * sqlite:///RealWorldData.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [40]:
%sql Select  Distinct CASE_NUMBER  from  CHICAGO_CRIME_DATA where arrest=0;

 * sqlite:///RealWorldData.db
Done.

[('HK587712',),
 ('HK456306',),
 ('HT233595',),
 ('HT133522',),
 ('HZ138551',),
 ('HS540106',),
 ('HZ534771',),
 ('HL149610',),
 ('HK361551',),
 ('HT180228',),
 ('HV243612',),
 ('HN200365',),
 ('HK108680',),
 ('HY396729',),
 ('HX332132',),
 ('HW303994',),
 ('HS569246',),
 ('HP320451',),
 ('HN484464',),
 ('HR582990',),
 ('HR535632',),
 ('HH486939',),
 ('HW441620',),
 ('HJ561433',),
 ('HR583513',),
 ('HX509438',),
 ('HS681158',),
 ('HK350670',),
 ('JA272438',),
 ('HH201585',),
 ('G212935',),
 ('HL590300',),
 ('HL409680',),
 ('HV353560',),
 ('HL680775',),
 ('HM543491',),
 ('HY167451',),
 ('HY377901',),
 ('HX225704',),
 ('HJ308632',),
 ('HV528008',),
 ('HK801112',),
 ('HS532107',),
 ('JA261898',),
 ('JA559176',),
 ('JA412895',),
 ('HY273740',),
 ('HZ224258',),
 ('HJ652747',),
 ('HJ415128',),
 ('HV534721',),
 ('HN731220',),
 ('HP691879',),
 ('HV537004',),
 ('HR149903',),
 ('HX314361',),
 ('HV345270',),
 ('HS308747',),
 ('HK728309',),
 ('HL005270',),
 ('HY291329',),
 ('HJ678713',),
 ('HY412959',),
 ('HX155070',),
 ('HV402967',),
 ('HX332979',),
 ('HJ710634',),
 ('HX165034',),
 ('HS230912',),
 ('HL177398',),
 ('HH702524',),
 ('JA384163',),
 ('HJ672058',),
 ('HT368471',),
 ('HY202462',),
 ('HX354359',),
 ('HZ146741',),
 ('HX262353',),
 ('HP317516',),
 ('HZ335434',),
 ('HS678732',),
 ('HL382289',),
 ('HM392612',),
 ('HR460350',),
 ('HM117889',),
 ('HR576816',),
 ('HZ372381',),
 ('HZ556726',),
 ('HN421595',),
 ('HK454598',),
 ('HH657809',),
 ('HH316735',),
 ('G597730',),
 ('G736811',),
 ('HT651635',),
 ('HZ432273',),
 ('G517474',),
 ('HP746347',),
 ('HN772519',),
 ('HZ309936',),
 ('HL353697',),
 ('HT375934',),
 ('HV395700',),
 ('HH696901',),
 ('HT390647',),
 ('HK815196',),
 ('JA490957',),
 ('HK103473',),
 ('HM556695',),
 ('HH558381',),
 ('HX455839',),
 ('HR703960',),
 ('HL646682',),
 ('G688026',),
 ('HJ466766',),
 ('HL632721',),
 ('HP579910',),
 ('HL718742',),
 ('HP714065',),
 ('HP716225',),
 ('HS568476',),
 ('JB213238',),
 ('HS475732',),
 ('HS595785',),
 ('HR408597',),
 ('HT542713',),
 ('HJ254782',),
 ('HK561262',),
 ('G419948',),
 ('HL177008',),
 ('HJ639869',),
 ('HM217017',),
 ('HL388623',),
 ('HS498285',),
 ('HN224900',),
 ('HJ294892',),
 ('G533278',),
 ('HH827769',),
 ('HH639427',),
 ('HK771992',),
 ('HR136920',),
 ('HT457930',),
 ('G070193',),
 ('HJ724585',),
 ('HP121474',),
 ('G198370',),
 ('HJ723825',),
 ('HJ458342',),
 ('HP558812',),
 ('HY192694',),
 ('HN472326',),
 ('HK756778',),
 ('HH741961',),
 ('JA460432',),
 ('G140454',),
 ('HX239866',),
 ('HW182288',),
 ('HZ295843',),
 ('HM673431',),
 ('HP352546',),
 ('HR286405',),
 ('HW261668',),
 ('HR217367',),
 ('HV268964',),
 ('JA483294',),
 ('HT169840',),
 ('HT621306',),
 ('HS269736',),
 ('HK243330',),
 ('HH262924',),
 ('HL613433',),
 ('HY267896',),
 ('HN568531',),
 ('HT112422',),
 ('HV479133',),
 ('HV592346',),
 ('HH619797',),
 ('HZ376709',),
 ('HV573337',),
 ('HL269210',),
 ('HR674429',),
 ('HM200888',),
 ('HX448587',),
 ('HS200939',),
 ('HN335611',),
 ('HZ535494',),
 ('HX154767',),
 ('HM337445',),
 ('HM244120',),
 ('HR342598',),
 ('HW449676',),
 ('HS589302',),
 ('HX145326',),
 ('HN553354',),
 ('HN784049',),
 ('HJ527694',),
 ('HM303461',),
 ('HM535632',),
 ('HT353855',),
 ('G134016',),
 ('HR125162',),
 ('HJ842548',),
 ('HN280980',),
 ('HY405637',),
 ('HP689703',),
 ('HR345366',),
 ('HZ242802',),
 ('HM661326',),
 ('HJ336995',),
 ('HK694552',),
 ('HJ760939',),
 ('HV366181',),
 ('HH576932',),
 ('HR308948',),
 ('HK100758',),
 ('HW566855',),
 ('HT535175',),
 ('JA110097',),
 ('HM360756',),
 ('HN275969',),
 ('HZ544441',),
 ('HS164946',),
 ('HR399710',),
 ('HP243837',),
 ('HP157774',),
 ('HP340132',),
 ('HJ388435',),
 ('JA246453',),
 ('HN407116',),
 ('JA107722',),
 ('HJ532105',),
 ('HH729144',),
 ('HZ228967',),
 ('HY385205',),
 ('HK743113',),
 ('HR185873',),
 ('JA470839',),
 ('HY182950',),
 ('HZ234518',),
 ('HS314108',),
 ('HH463517',),
 ('HN182437',),
 ('HW493063',),
 ('HJ637197',),
 ('HH829588',),
 ('HZ322965',),
 ('HW415978',),
 ('HM535930',),
 ('HZ242203',),
 ('HH343366',),
 ('HM507529',),
 ('HP258815',),
 ('HL111533',),
 ('HS479338',),
 ('HV462975',),
 ('HW414519',),
 ('HL414306',),
 ('HT315369',),
 ('HK751265',),
 ('HT540548',),
 ('HX398190',),
 ('HK348713',),
 ('HR206683',),
 ('HV233824',),
 ('HR307075',),
 ('HZ134318',),
 ('HM437597',),
 ('HW233866',),
 ('G659211',),
 ('HW274134',),
 ('HW526270',),
 ('G375927',),
 ('HP325677',),
 ('HL300450',),
 ('HN246122',),
 ('HH149573',),
 ('HT434553',),
 ('HL548996',),
 ('HR696852',),
 ('HK481967',),
 ('HT202584',),
 ('HJ409442',),
 ('HT251336',),
 ('HV575905',),
 ('HR489129',),
 ('HT427568',),
 ('HR539548',),
 ('HS426544',),
 ('HT556032',),
 ('HL254965',),
 ('JA216127',),
 ('HW350078',),
 ('HR308245',),
 ('HY455377',),
 ('HP747058',),
 ('HN645348',),
 ('HL334216',),
 ('HS230740',),
 ('HV593288',),
 ('HK341632',),
 ('HH859922',),
 ('G611731',),
 ('HM757133',),
 ('HJ786817',),
 ('HV356669',),
 ('HX207970',),
 ('HM733422',),
 ('HH352862',),
 ('HX301095',),
 ('HY163644',),
 ('HR140766',),
 ('HH605275',),
 ('HJ513676',),
 ('HH337319',),
 ('HH423186',),
 ('HN543219',),
 ('HZ463811',),
 ('HN702776',),
 ('HR607189',),
 ('G654957',),
 ('HL131736',),
 ('G629024',),
 ('HJ349966',),
 ('G345035',),
 ('JA394755',),
 ('HY518743',),
 ('JA550741',),
 ('HZ523997',),
 ('HY455698',),
 ('HT404945',),
 ('HL213843',),
 ('JA192460',),
 ('HL446401',),
 ('HS330202',),
 ('HP661088',),
 ('HJ281736',),
 ('HJ580490',),
 ('HV213648',),
 ('HJ753917',),
 ('JA133264',),
 ('HJ642080',),
 ('JA557966',),
 ('HV548880',),
 ('HR480844',),
 ('HW568748',),
 ('HH405177',),
 ('HL472862',),
 ('HM802052',),
 ('HR190881',),
 ('HK749575',),
 ('HL611297',),
 ('HH292682',),
 ('HN567387',),
 ('HR391350',),
 ('HT394616',),
 ('HH688935',),
 ('G158614',),
 ('HK310265',),
 ('HY259084',),
 ('HX343113',),
 ('HM195342',),
 ('JA359626',),
 ('HN144152',),
 ('HN544458',),
 ('HW238778',),
 ('HZ378355',),
 ('HZ192829',),
 ('HZ133234',),
 ('HJ747227',),
 ('JA143710',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [28]:
%sql select COMMUNITY_AREA_NUMBER, PERCENT_AGED_16__UNEMPLOYED, PERCENT_AGED_UNDER_18_OR_OVER_64 from CENSUS_DATA;

 * sqlite:///RealWorldData.db
Done.

[(1.0, 8.7, 27.5),
 (2.0, 8.8, 38.5),
 (3.0, 8.9, 22.2),
 (4.0, 8.2, 25.5),
 (5.0, 5.2, 26.2),
 (6.0, 4.7, 17.0),
 (7.0, 5.1, 21.5),
 (8.0, 7.0, 22.6),
 (9.0, 6.5, 35.3),
 (10.0, 9.0, 39.5),
 (11.0, 12.4, 35.5),
 (12.0, 6.8, 40.5),
 (13.0, 9.9, 39.0),
 (14.0, 10.0, 32.0),
 (15.0, 12.6, 34.0),
 (16.0, 10.0, 31.6),
 (17.0, 10.0, 33.6),
 (18.0, 13.8, 38.6),
 (19.0, 14.6, 37.3),
 (20.0, 13.1, 36.4),
 (21.0, 9.2, 31.0),
 (22.0, 8.2, 26.2),
 (23.0, 17.3, 38.0),
 (24.0, 6.6, 21.7),
 (25.0, 22.6, 37.9),
 (26.0, 25.8, 43.6),
 (27.0, 19.6, 43.2),
 (28.0, 10.7, 22.2),
 (29.0, 21.2, 42.7),
 (30.0, 15.8, 33.8),
 (31.0, 15.8, 32.6),
 (32.0, 5.7, 13.5),
 (33.0, 4.9, 21.8),
 (34.0, 16.7, 38.3),
 (35.0, 18.2, 30.7),
 (36.0, 28.7, 40.4),
 (37.0, 33.9, 44.9),
 (38.0, 24.3, 39.5),
 (39.0, 15.7, 35.4),
 (40.0, 28.6, 42.8),
 (41.0, 8.4, 26.2),
 (42.0, 23.4, 36.1),
 (43.0, 20.0, 35.7),
 (44.0, 24.0, 40.3),
 (45.0, 21.1, 39.3),
 (46.0, 19.7, 41.1),
 (47.0, 18.6, 42.7),
 (48.0, 20.0, 44.0),
 (49.0, 20.3, 41.2),
 (50.0, 22.8, 38.6),
 (51.0, 16.3, 39.5),
 (52.0, 12.1, 42.8),
 (53.0, 19.4, 42.1),
 (54.0, 34.6, 51.5),
 (55.0, 9.6, 42.9),
 (56.0, 11.3, 38.1),
 (57.0, 16.5, 39.2),
 (58.0, 13.9, 39.3),
 (59.0, 13.4, 35.6),
 (60.0, 13.7, 31.3),
 (61.0, 23.0, 38.9),
 (62.0, 16.7, 37.7),
 (63.0, 18.2, 38.8),
 (64.0, 9.5, 37.6),
 (65.0, 9.6, 39.6),
 (66.0, 17.1, 40.6),
 (67.0, 35.9, 40.7),
 (68.0, 28.0, 42.5),
 (69.0, 23.0, 41.0),
 (70.0, 11.7, 36.9),
 (71.0, 28.3, 41.9),
 (72.0, 8.0, 40.5),
 (73.0, 20.8, 42.6),
 (74.0, 8.7, 36.8),
 (75.0, 15.0, 40.3),
 (76.0, 7.1, 30.3),
 (77.0, 9.2, 23.8),
 (None, 12.9, 33.5)]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [11]:
%sql Select DISTINCT PRIMARY_TYPE as 'Kind of Crimes Recorded at Schools' from CHICAGO_CRIME_DATA  where LOCATION_DESCRIPTION like '%School%'

 * sqlite:///RealWorldData.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the average safety score for each type of school.

In [44]:
%sql select  [Elementary, Middle, or High School], avg(safety_score) from CHICAGO_PUBLIC_SCHOOLS_DATA group by   [Elementary, Middle, or High School] ;

 * sqlite:///RealWorldData.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [49]:
%sql select COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5;

 * sqlite:///RealWorldData.db
Done.

[(54.0, 'Riverdale', 56.5),
 (37.0, 'Fuller Park', 51.2),
 (68.0, 'Englewood', 46.6),
 (29.0, 'North Lawndale', 43.1),
 (27.0, 'East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [66]:
%sql Select COMMUNITY_AREA_NAME  from CENSUS_DATA where COMMUNITY_AREA_NUMBER in (Select COMMUNITY_AREA_NUMBER from (select COMMUNITY_AREA_NUMBER , max(beat)  from  CHICAGO_CRIME_DATA ))

 * sqlite:///RealWorldData.db
Done.

[('Humboldt park',)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.

-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [27]:

%sql Select COMMUNITY_AREA_NAME, HARDSHIP_INDEX from CENSUS_DATA  where HARDSHIP_INDEX= (select max(HARDSHIP_INDEX) from CENSUS_DATA );

 * sqlite:///RealWorldData.db
Done.

[('Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [39]:
%sql Select a.COMMUNITY_AREA_NAME, b.COMMUNITY_AREA_NUMBER, b.max_value from (CENSUS_DATA)a, (select  COMMUNITY_AREA_NUMBER , max(beat) as max_value  from  CHICAGO_CRIME_DATA where COMMUNITY_AREA_NUMBER is not null) b where a.COMMUNITY_AREA_NUMBER=b.COMMUNITY_AREA_NUMBER ;

 * sqlite:///RealWorldData.db
Done.

[('Humboldt park', 23.0, 2535)]

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                              |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>